@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url('/public/Cards/background3.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.title{
  position: relative;
  font-family: 'Mate SC', serif;
  color: #E76D83;
  font-size: 1500%;
}
.title::after{
  content: attr(data-text);
  position: absolute;
  color: #eba014;
  top: 0em;
  left: 0em;
  transition: 0.2s;
}
.title:hover::after{
  top: -0.03em;
  left: -0.03em;
  color: #eba014;
}
.subTitle {
  transform: translateX(-50%);
  transform: translatey(-30%);
  font-family: 'Mate SC', serif;
  color: #E76D83;  /* e8eaed*/
  font-size: 625%;
  text-align: center;
  user-select: none;
}

/*Buttons*/
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}
#play {
  transform: translateX(-50%);
  transform: translatey(-60%);
  font-family: 'Mate SC', serif;
  /* add the animation, but pause it by default */
  animation: spin 2.5s infinite linear paused;
  background:
    /* Background colors don’t work with `background-origin`, so use a gradient. */
    linear-gradient(
        to bottom,
        #735966,
        #735966
      )
      padding-box, /* ends at inner border edges */
    conic-gradient( 
        from var(--bg-angle),
        #E76D83, #eba014, #E76D83  /* lightest darkest middle */
      )
      border-box; /* extends to outer border edges */
  
  /* a clear border lets the background gradient shine through */
  border: 6px solid transparent;
  width: 30vw;
  height: 10vh;
  color: #F7DAD9;
  font-size: 300%;
  letter-spacing: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

  /* unpause the animation on hover */
  &:hover {
    animation-play-state: running;
    color: #F1BDBC;
  }
  &:active {
    width: 31vw;
    height: 10.5vh;
  }
}


#quit {
  background:
    /* Background colors don’t work with `background-origin`, so use a gradient. */
    linear-gradient(
        to bottom,
        black, black
      )
      padding-box, /* ends at inner border edges */
      border-box; /* extends to outer border edges */
  
  /* a clear border lets the background gradient shine through */
  border: 6px solid transparent;
  width: 30vw;
  height: 10vh;
  color: white;
  font-size: 160%;

  /* unpause the animation on hover */
  &:hover {
    color: #B8CCDE;
  }
  &:active {
    width: 31vw;
    height: 11vh;
  }
  
}

.deck {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 10vw;
  height: 30vh;
  background-color: white;
  border: 10px solid black;
  color: black;
  text-align: center;
  display: flex;
}

.handArea {
  position: fixed;
  bottom: 2%; /* this is how close you want it to the bottom of the screen */
  left: 50%;
  transform: translateX(-50%);
  width: 25vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  min-height: 200px;
  box-sizing: border-box;
  gap: 10px;
}

/* this deals with card image size */
.card {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw; 
  height: 32vh;
}

.lobbyScreen {
  width: 40vw;
  height: 90vh;
  padding: 4px;
  background-color: transparent;
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
  overflow: auto;
  gap: 3px;
}

.createLobby {
  border-radius: 15px;
  border: 3px solid #798478;
  padding: 20px; 
  width: 39vw;
  height: 20vh;
  color: #312F2F;
  background-color: #F7F9F9;
  font-size: 50px;
  align-items: center;
  flex-wrap: nowrap;
}

.newlobbies {
  border-radius: 15px;
  border: 3px solid #798478;
  padding: 10px;
  width: 39vw;
  height: 10vh;
  color: #312F2F;
  background-color: #F7F9F9;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.defaultWaitMessage {
  color: white;
  font-size: x-large;
}

.lobbyNameTitle {
  margin-top: 0px;
  color: white;
  font-size: 10vh;
  text-align: center;
}